.toggle {
  margin-top: 30px;
}
.formWrapper {
  margin-top: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.formContent {
  margin-top: 30px;
}

.field,
.amountField {
  background-color: inherit;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color-black);
  border: 1px solid #294045;
  outline: #294045;
  border-radius: 8px;
  padding: 11px 14px;
  height: 44px;
  max-width: 100%;
  transition: border-color var(--main-transition);
}
.field::placeholder,
.amountField::placeholder {
  color: #294045;
}

.field:hover,
.amountField:hover,
.field:focus,
.amountField:focus {
  border: 1px solid var(--main-color-black);
}

.dateAmountWrapper {
  display: flex;
  flex-direction: column;
}

.btnWrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btnAdd {
  display: block;
  padding: 11px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family-inter);
  background: var(--background-color-gradient-button);
  color: var(--main-color-white);
  border: none;
  border-radius: 8px;
  transition: all var(--main-transition);
}

.btnAdd:hover,
.btnAdd:focus {
  background: var(--background-color-gradient-list);
}

.btnCancel {
  composes: btnAdd;
  background: transparent;
  color: var(--main-color-black);
  border: 1px solid var(--main-color-black);
}

.btnCancel:hover,
.btnCancel:focus {
  background: transparent;
  border-color: var(--main-color-white);
  color: var(--main-color-white);
}

.errorWrapper {
  min-height: 12px;
}

.error {
  min-height: 12px;
  display: block;
  font-size: 10px;
  color: var(--main-color-red);
  margin: 4px 0 4px 4px;
}

.errorField {
  border: 1px solid var(--main-color-red);
  color: var(--main-color-red);
}

.errorField::placeholder {
  color: var(--main-color-red);
}

@media only screen and (min-width: 768px) {
  .formWrapper {
    margin-top: 40px;
  }

  .form {
    gap: 20px;
  }

  .formContent {
    margin-top: 32px;
  }
  .dateAmountWrapper {
    gap: 24px;
  }
  .btnWrapper {
    margin-top: 14px;
    gap: 21px;
  }
  .amountField,
  .field {
    width: 100%;
  }
  .dateAmountWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .errorWrapper {
    min-height: 16px;
  }

  .error {
    min-height: 16px;
    font-size: 12px;
    margin: 0;
  }
}
