.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 16px 16px 32px 16px;
  width: fit-content;
  height: fit-content;
  background: var(--background-color-light-green);
}

.closeWrapper {
  display: block;
  margin-left: auto;
}

.closeSvg {
  stroke: var(--main-color-black);
  width: 16px;
  height: 16px;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoSvg {
  stroke: var(--main-color-black);
  width: 54px;
  height: 54px;
}

.logoText {
  font-weight: 700;
  font-family: var(--font-family-poppins);
  font-size: 30px;
  text-align: center;
  color: var(--main-color-black);
  margin-bottom: 16px;
}

.logoutConfirmParagraph {
  font-weight: 400;
  font-family: var(--font-family-inter);
  font-size: 18px;
  text-align: center;
  color: var(--main-color-black);
  margin-bottom: 16px;
  max-width: 196px;
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logoutBtn {
  border-radius: 8px;
  border: none;
  padding: 11px 79px;
  width: 248px;
  height: 44px;
  background: var(--background-color-gradient-button);
  color: var(--main-color-white);
  font-weight: 500;
  font-size: 18px;
  font-family: var(--font-family-inter);
}

.cancelBtn {
  border: 1px solid var(--main-color-black);
  border-radius: 8px;
  padding: 11px 79px;
  width: 248px;
  height: 44px;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--font-family-inter);
  color: var(--main-color-black);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 533px;
    padding: 53px 61px 47px 61px;
  }

  .logoText {
    margin-bottom: 38px;
  }
  .logoutConfirmParagraph {
    margin-bottom: 24px;
    max-width: 100%;
  }
  .btnsWrapper {
    gap: 21px;
    width: 100%;
  }

  .logoutBtn,
  .cancelBtn {
    width: 100%;
  }
  .logoutBtn:hover,
  .logoutBtn:focus {
    background: var(--background-color-gradient-list);
  }

  .cancelBtn:hover,
  .cancelBtn:focus {
    border-color: var(--main-color-white);
    color: var(--main-color-white);
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 533px;
    height: 387px;
  }
}
