.customDateInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #081222;
  border-radius: 8px;
  padding: 10px 14px;
  width: 271px;
  height: 44px;
  font-size: 18px;
  font-family: var(--font-family-inter);
  font-weight: 500;
  background-color: transparent;
  color: #081222;
}

.customDateInput:hover,
.customDateInput:focus {
  border: 1px solid #355359;
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--background-color-gradient-list);
}

@media only screen and (min-width: 768px) {
  .customDateInput {
    width: 193px;
  }
}
