.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: #294045;
}

.active .icon {
  fill: var(--main-color-white);
}

.linkText {
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color-white);
}

.active .linkContainer .linkText {
  font-weight: 700;
}

.iconLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc50;
  width: 38px;
  height: 38px;
  border-radius: 6px;
}

.active .iconLayout {
  background: var(--background-color-gradient-button);
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: column;
    gap: 24px;
    padding: 36px 16px;
    background: var(--background-color-gradient-button);
    width: 100%;
    border-radius: 16px;
    align-items: start;
  }

  .linkContainer {
    gap: 23px;
  }

  .iconLayout {
    width: 18px;
    height: 18px;
  }

  .active .iconLayout {
    background: var(--background-color-gradient-list);
  }

  .icon {
    fill: #355359;
    width: 12px;
    height: 11px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 16px 32px;
    width: 100%;
  }
}
