.btn {
  display: block;
  width: 56px;
  height: 56px;
  background-color: #508f8c;
  border: 1px solid #508f8c;
  border-radius: 50%;
  position: fixed;
  bottom: 16px;
  right: 16px;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: transparent;
  border-color: var(--main-color-black);
}

.icon {
  stroke: var(--main-color-black);
  width: 25px;
  height: 25px;
}

@media only screen and (min-width: 768px) {
  .btn {
    width: 64px;
    height: 64px;
  }

  .icon {
    width: 29px;
    height: 29px;
  }
}

@media only screen and (min-width: 1280px) {
  .btn {
    width: 56px;
    height: 56px;
    bottom: 24px;
    right: 24px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }
}
