.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
}

.mainContent {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    align-items: start;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 32px;
  }
  .mainContent {
    width: 50%;
  }
  .additionBlock {
    background: var(--background-color-gradient-button);
    border-radius: 16px;
    width: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .sidebar {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0;
  }

  .mainContent {
    width: 100%;
  }

  .additionBlock {
    width: 100%;
    padding: 24px;
    border-radius: 16px;
  }
}
