/*Глобальні змінні*/
:root {
  --main-color-black: #081222;
  --main-color-white: #fcfcfc;
  --main-color-yellow: #dfad3f;
  --main-color-red: #b20202;
  --font-family-inter: "Inter", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --background-color-gradient-list: linear-gradient(
    180deg,
    #294045 0%,
    #1e2f33 100%
  );
  --background-color-gradient-button: linear-gradient(
    180deg,
    #355359 0%,
    #3b5d63 100%
  );
}

/*Приклад використання глобальних змінних в будь-якому css*/
/* .button {
  background-color: var(--main-color-black);
  color: var(--main-color-white);
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-family-inter);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 16px;
  background: var(--background-color-gradient-list);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

/* Calendar */

.react-datepicker-wrapper {
  display: inline-block !important; 
  margin: 0 !important;
  padding: 0 !important;
}


.react-datepicker {
  border: none !important;
  border-radius: 5px !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  font-family: var(--font-family-inter) !important;
  background-color: #294045 !important;
  border-bottom: none !important;
}

.react-datepicker__current-month {
  font-family: var(--font-family-inter) !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-align: center !important;
  color: var(--main-color-white) !important;
}

.react-datepicker__day-name {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-family-inter) !important;
  font-size: 10px !important;
  text-align: center !important;
  color: var(--main-color-white) !important;
}

.react-datepicker__month {
  font-family: var(--font-family-inter) !important;
  background-color: #1e2f33 !important;
  margin: 0 !important;
}

.react-datepicker__day {
  margin: 0 !important;
  font-family: var(--font-family-inter) !important;
  font-size: 10px !important;
  text-align: center !important;
  color: var(--main-color-white) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-sizing: border-box !important;
}

.react-datepicker__week > .react-datepicker__day:nth-child(7) {
  border-right: none !important;
}

.react-datepicker__week:last-of-type .react-datepicker__day {
  border-bottom: none !important;
}

.react-datepicker__day:hover {
  color: var(--main-color-white) !important;
  background-color: var(--main-color-yellow) !important;
}

.react-datepicker__day--today {
  color: var(--main-color-white) !important;
}

.react-datepicker__day--weekend {
  color: var(--main-color-red) !important;
}

.react-datepicker__day--outside-month {
  font-family: var(--font-family-inter) !important;
  font-size: 10px !important;
  text-align: center !important;
  color: rgba(252, 252, 252, 0.5) !important;
}

.react-datepicker__day--selected {
  color: var(--main-color-white) !important;
  background-color: var(--main-color-yellow) !important;
}
  
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
  border-radius: none !important;
}