/*Глобальні змінні*/
:root {
  --main-color-black: #081222;
  --main-color-white: #fcfcfc;
  --main-color-yellow: #DFAD3F;
  --main-color-red: #B20202;
  --font-family-inter: "Inter", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --background-color-gradient-list: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
  --background-color-gradient-button: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

/*Приклад використання глобальних змінних в будь-якому css*/
/* .button {
  background-color: var(--main-color-black);
  color: var(--main-color-white);
} */


*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-family-inter);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}




/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
} */
